---
layout: default
---

<div class="main-post-list hidden">

  <ol class="post-list">
    {% for post in paginator.posts %}
    <li>
      <h2 class="post-list__post-title post-title"><a href="{{ post.url }}" title="访问 {{ post.title }}">{{ post.title }}</a></h2>
      <p class="excerpt">{{ post.content | strip_html | strip_newlines | truncate: 250 }}&hellip;</p>
      <div class="post-list__meta"><time datetime="{{post.date | date: date_to_xmlschema}}" class="post-list__meta--date date">{{ post.date | date: "%F"}}</time> &#8226; <span class="post-list__meta--tags tags">{{ post.tags | join:' ' }}</span><a class="btn-border-small" href={{ post.url }}>继续阅读</a></div>
      <hr class="post-list__divider" />
    </li>
    {% endfor %}
  </ol>

  {% include pagination.html %}

</div>



<div id="container"></div>

  <script src="./dist/gitment.browser.js"></script>
  <script>
    var clientId = '82c800a8b9db1cb2a145'
    var clientSecret = 'abcb4790d98c686e7656d28c756ebbaac5b89d3a'
    var gitment = new Gitment({
      id: 'leslie',
      owner: 'iyohey',
      repo: 'iyohey.github.io',
      oauth: {
        client_id: '9ba9ea5cd8b7f03722af'
        client_secret: '8dee58b2c64455050081a5d7b077edcf39fc7973'
      },
    })

    gitment.render('container')
  </script>

